<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
	<h5>Friends</h5>
	<% if @user.friendships.blank? %>
		<em>No friends yet.</em>
	<% else %>
		<ul>
			<% @user.friendships.each do |friends| %>
			<li><%= friends.friend.name %></li>
			<% end %>
		</ul>
	<% end %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
